.section-input {
  width: 300px;
  border: 1px solid #eee;
  border-radius: 8px;
  background-color: white;
  padding: 8px 12px;
}

.section-input:focus {
  outline: 0;
  border: 1px solid var(--main-color);
}
