@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
}

p,
span {
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #50bc44;
  --hover-main-color: #43a438;
}
